(require 'org)
(require 'ox)

(setq enable-local-variables :all)

(find-file "{{ presentation_filename }}.org")
(hack-dir-local-variables)
(hack-local-variables-apply)
(org-beamer-mode)
(org-beamer-export-to-pdf)
