#+options: ':t
#+options: *:t
#+options: -:t
#+options: :t
#+options: <:nil
#+options: \n:nil
#+options: ^:t
#+options: arch:nil
#+options: author:t
#+options: broken-links:mark
#+options: c:nil
#+options: creator:nil
#+options: d:nil
#+options: date:t
#+options: e:t
#+options: email:t
#+options: f:t
#+options: H:2
#+options: inline:nil
#+options: num:3
#+options: p:nil
#+options: pri:nil
#+options: prop:nil
#+options: stat:nil
#+options: tags:nil
#+options: tasks:nil
#+options: tex:t
#+options: timestamp:t
#+options: title:t
#+options: toc:nil
#+options: todo:nil
#+options: |:t
#+startup: beamer
#+latex_compiler: lualatex
#+latex_header: \usepackage[AUTO]{babel}
#+latex_header: \usepackage{hologo}
#+latex_header: \usepackage{realscripts}
#+latex_header: \usepackage[activate={true,nocompatibility}, final, factor=1100, stretch=15, shrink=15, tracking=true, letterspace=40, babel=true]{microtype}
#+latex_header: \usepackage[all,nodollardollar]{onlyamsmath}
#+latex_header: \usepackage[math-style=ISO, bold-style=ISO, sans-style=italic, nabla=upright, partial=upright]{unicode-math}
#+latex_header: \usepackage{newunicodechar}
#+latex_header: \newunicodechar{√}{\sqrt}
#+latex_header: \newunicodechar{–}{\mbox{–}\allowbreak{}\hspace{0pt}}
#+latex_header: \usepackage[cache=false]{minted}
#+latex_header: \setmainfont{FiraGO}
#+latex_header: \setsansfont{FiraGO}
#+latex_header: \setmathfont{FiraMath}
#+latex_header: \setmathfont{FiraMath}
#+latex_header: \setmathfont{XITSMath}[range={frak,"1D504-"1D537,bffrak,"1D56C-"1D59F,scr,bfscr,"22A2}]
#+latex_header: \setmathfont{XITSMath}[range={cal,bfcal},StylisticSet=1]
#+latex_header_extra: \usepackage[nosingleletter, hyphenation, lastparline, homeoarchy, parindent]{impnattypo}
#+latex_header_extra: \pdfvariable suppressoptionalinfo 512\relax
#+latex_header_extra: \hypersetup{hidelinks, bookmarksnumbered, linkcolor={red!50!black}, citecolor={blue!50!black}, urlcolor={blue!80!black}}
#+beamer_theme: focus [nofirafonts]
{%- if presentation_title %}
#+title: {{ presentation_title }}
{%- if presentation_subtitle %}
#+subtitle: {{ presentation_subtitle }}
{%- endif %}
{%- endif %}
{%- if presentation_author %}
#+author: {{ presentation_author }}
{%- endif %}
{%- if presentation_author_email %}
#+email: {{ presentation_author_email }}
{%- endif %}
{%- if presentation_description %}
#+description: {{ presentation_description }}
{%- endif %}
#+language: en-gb

* Section
** Pangrams
+ Pack my box with five dozen liqour jugs
+ Jove xef, porti whisky amb quinze glaçons d’hidrogen, coi!
+ Eble ĉiu kvazaŭ-deca fuŝĥoraĵo ĝojigos homtipon
+ Широкая электрификация южных губерний даст мощный толчок подъёму сельского
  хозяйства.
+ นายสังฆภัณฑ์ เฮงพิทักษ์ฝั่ง ผู้เฒ่าซึ่งมีอาชีพเป็นฅนขายฃวด ถูกตำรวจปฏิบัติการจับฟ้องศาล
  ฐานลักนาฬิกาคุณหญิงฉัตรชฎา ฌานสมาธิ
+ שפן אכל קצת גזר בטעם חסה, ודי
+ صِف خَلقَ خَودِ كَمِثلِ الشَمسِ إِذ بَزَغَت — يَحظى الضَجيعُ بِها نَجلاءَ مِعطارِ

** Some maths in blocks
*** Block
    :PROPERTIES:
    :BEAMER_env: block
    :END:
\[
    ∇·∇ψ=\frac{∂²ψ}{∂x²}+\frac{∂²ψ}{∂y²}+\frac{∂²ψ}{∂z²}
\]
*** Alert
    :PROPERTIES:
    :BEAMER_env: alertblock
    :END:
\[
    Z^{Γ}_{\symcal{F}}(γ)=∑_{\substack{n≥0 \\ λ⊢n}}\frac{\left|\operatorname{fix}\symcal{F}\,\left[σ(λ)⋅γ\right]\right|}{z_λ}p₁^{λ₁}p₂^{λ₂}…pₙ^{λₙ}
\]

** Slide with two columns
*** List
    :PROPERTIES:
    :BEAMER_col: 0.5
    :END:
    - Integer quis enim purus.
    - Quisque vitae orci vel magna aliquet pretium.
    - Suspendisse faucibus dapibus mauris, nec sollicitudin nisi accumsan ut.
      - Etiam ut mollis tellus.

*** :B_ignoreheading:
    :PROPERTIES:
    :BEAMER_col: 0.5
    :BEAMER_env: example
    :END:
    Công ty chúng tôi cung cấp sản phẩm chất lượng tốt nhất cho
    khách hàng. Học viên của trung tâm đào tạo đạt điểm cao trong bài kiểm tra.
    Thành phố nổi tiếng với cảnh quan đẹp và những hoạt động giải trí hấp dẫn.
